<div class="row">
        <div class="input-field col s12">
            <a class="waves-effect waves-light btn-large" onclick={{action "compileContract" 'model'}}><i class="material-icons left">C </i>编译合约</a>
        </div>
</div>
<div class="row">
        <div class="input-field col s12">
          <textarea id="iabi" class="materialize-textarea">{{abi}}</textarea>
          <label for="textarea1">编译后的ABI代码 </label>
        </div>
</div>
<div class="row">
        <div class="input-field col s12">
          <textarea id="ibin" class="materialize-textarea">{{bin}}</textarea>
          <label for="textarea1">编译后的BIN </label>
        </div>
</div>
 
<div>
    <div class="row">
        <div class="input-field col s12">
            <a class="waves-effect waves-light btn-large" onclick={{action "createExampleContract"  }}><i class="material-icons left">D </i>部署合约</a>
        </div>
</div>
</div>
<div class="row" ><p id="dmsg" class="flow-text">响应消息</p>
</div> 
    <div id="status"></div>

    <div id='create'>
    </div>
    {{yield}}
    <div id='call' class="row" >        
        <input type="number" id="contractParam" class="callInput" placeholder="输入要测试的参数 " />         
        <div class="row">
        <div class="input-field col s12">
            <a class="waves-effect waves-light btn-large" onclick={{action "callExampleContract"  }}><i class="material-icons left">D </i>调用合约测试</a>
        </div>
</div>
    </div>
    <div class="row" ><p id="result" class="flow-text">合约调用结果</p></div>



